/* eliminate extra margin-right in mobile view */
html, body {
  overflow-x: hidden;
}

.find-us-header, .about-title, .menu-container,
.caviar-container, footer, .scroll-top {
  text-align: center;
}

/* Navigation */
.navbar {
  background-color: #ffc425 !important;
}

.navbar-brand {
  font-weight: 700;
}
/* override default navbar font colors for my contrast */
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.65);
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: black;
}

/* img carousel */
.carousel-img {
  width: 100%;
}

/* about/history section */
.about-title {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/* Menu section */
.menu-container {
  height: 24rem;
  border-radius: 4px;
  border: solid 1px black;
  margin-bottom: .8rem;
}

.menu-pdf {
  line-height: 24rem;
  cursor: pointer;
}

/* Contact - Find Us section*/
.find-us-header {
    min-height: 2.8rem;
}

.contact {
  padding: 2rem;
  background: #484848;
  color: white;
}

.contact-container {
  margin-bottom: .8rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.20),
              0 0 0 1px rgba(0,0,0,0.10);
}

.contact-info {
  margin: 0;
  padding: 0;
}

.bold-info {
  font-weight: 700;
}

#map {
 height: 27rem;
}

/* social media icons */
.yelp-logo-container {
  border-radius: 4px;
  cursor: pointer;
  background-color: #d32323;
  display: inline-block;
  margin-top: 1.5rem;
}

.yelp-logo {
  height: 2.6rem;
}
/* cavier order section */
.caviar-container {
  height: 12rem;
  padding: 1.6rem;
}

.caviar-logo {
  width: 12rem;
  margin-top: 2rem;
  margin-bottom: .5rem;
}

.cavier-link {
  font-size: 1.2rem;
}

/* scrolltop button */
.top-trigger {
  width: 3rem;
  margin: 0 auto;
  cursor: pointer;
}

.top-text {
  margin: 0;
}

/* footer Section */
footer {
  height: 4rem;
  text-align: center;
  padding: 1.1rem;
  background-color: #ffc425;
}
