/* eliminate extra margin-right in mobile view */
html, body {
  overflow-x: hidden;
}

body {
  background-color: #fafafa;
}

.find-us-header, .about-title, .menu-container,
.caviar-container, footer, .scroll-top {
  text-align: center;
}

.contact-title, .about-title {
  font-weight: 600;
}

/* Navigation */
.navbar {
  background-color: #ffc425 !important;
}

.navbar-brand {
  font-weight: 700;
}
/* override default navbar font colors for my contrast */
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.65);
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: black;
}

/* img carousel */
.carousel-img {
  width: 100%;
}

/* default container override */
.container {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

/* about/history section */
.about-title {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/* Menu section */
.menu-container {
  height: 22rem;
  margin-bottom: 1rem;
  background-image: url('../img/Menu_Bg.jpg');
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;
  background-position: center;
}

.menu-pdf {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 22rem;
  cursor: pointer;
}

/* Contact - Find Us section*/
.find-us-header {
    min-height: 2.8rem;
}

.contact {
  padding: 2rem;
  background-color: #fff;
}

.row {
  margin-bottom: .8rem;
  margin-right: 0;
  margin-left: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.20),
              0 0 0 1px rgba(0,0,0,0.10);
  border-radius: 2px;

}

.contact-info {
  margin: 0;
  padding: 0;
}

.bold-info {
  font-weight: 700;
}

#map {
 height: 27rem;
}

/* social media icons */
.yelp-logo-container {
  border-radius: 4px;
  cursor: pointer;
  background-color: #d32323;
  display: inline-block;
  margin-top: 1.5rem;
}

.yelp-logo {
  height: 2.6rem;
}

.yelp-logo-container:hover {
 background-color: #bd1f1f;
}
/* cavier order section */
.caviar-container {
  height: 12rem;
  padding: 1.6rem;
}

.caviar-logo {
  width: 12rem;
  margin-top: 2rem;
  margin-bottom: .5rem;
}

.cavier-link {
  font-size: 1.2rem;
}

/* scrolltop button */
.top-trigger {
  width: 3rem;
  margin: 0 auto;
  cursor: pointer;
}

.top-text {
  margin: 0;
}

/* footer Section */
footer {
  height: 4rem;
  text-align: center;
  padding: 1.1rem;
  background-color: #ffc425;
}
